.py-1-top{
	background: black
}
.py-1-top .pr-4 button{
	color: white;
}
.template-demo .btn-outline-success{
	margin-left: 25px;
}
.col-md-6 #p-tag{
	color: white;
}
.col-md-6 .btn-danger{
	border-radius: 25px;
}
.foot-poly span.r-25{
	margin-left: 20px;
}
